# Node and Next.js
node_modules
.next
out
.env.local

# MacOS and system
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional IDE
.vscode
.idea

# Sitemap
sitemap.xml
sitemap-*.xml
